header {
  background-color: var(--cor-12);
}

.header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.header-nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
  color: var(--cor-0);
}

.header-nav li a::after {
  background-color: var(--cor-0);
  content: "";
  bottom: -5px;
  left: 0px;
  height: 2px;
  position: absolute;
  display: inline-block;
  transition: 0.3s;
  width: 0px;
}

.header-nav li a:hover::after,
.header-nav li a.active::after,
.header-nav li a:focus:after {
  width: 100%;
}

.header-nav li a {
  position: relative;
}

@media (width <= 800px) {
  .header-nav a {
    background-color: var(--cor-11);
    padding: 15px;
    border-radius: 4px;
  }

  .header-nav ul {
    gap: 15px;
  }

  .header-nav li a::after {
    display: none;
  }
  .header.container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (width <= 600px) {
  .header-nav a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (width <= 480px) {
  .header.container {
    flex-direction: column;
  }
}
