article.seguro-cta {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-12);
}

article.seguro-cta .container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

article.seguro-cta .seguro-texto {
  place-self: center;
}

article.seguro-cta img {
  height: 110%;
}

article.seguro-cta .seguro-texto h3 {
  margin-bottom: 20px;
}

article.seguro-cta .seguro-texto p {
  margin-bottom: 25px;
}

@media (width <= 880px) {
  article.seguro-cta {
    background-color: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-0), inset 0 -50px var(--cor-12);
  }
  article.seguro-cta img {
    height: 105%;
  }

  article.seguro-cta .seguro-texto h3 {
    margin: 25px 0 15px 0;
  }

  article.seguro-cta .seguro-texto p {
    margin-bottom: 20px;
  }
}

@media (width <= 837px) {
  article.seguro-cta img {
    height: 100%;
  }
  article.seguro-cta {
    background-color: var(--cor-11);
    box-shadow: none;
  }

  article.seguro-cta .container {
    padding: 20px;
  }
}

@media (width <= 600px) {
  article.seguro-cta img {
    display: none;
  }

  article.seguro-cta .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
